<div class="row">
    <h3>Components demo</h3>

    <div class="alert alert-info">
        <p>Each Angular component requires a single @Component annotation. The @Component annotation specifies when a component is instantiated, and which properties and hostListeners it binds to.</p>
        <p>When a component is instantiated, Angular:</p>
        <ul>
            <li>creates a shadow DOM for the component.</li>
            <li>loads the selected template into the shadow DOM.</li>
            <li>creates all the injectable objects configured with <code>providers</code> and <code>viewProviders</code>.</li>
        </ul>
    </div>


</div>