<div class="row">
    <h2><strong>Routing demo</strong></h2>
    <div class="alert alert-info">
        Three main ingredients of Angular Router:
        <ul>
            <li>
                <strong>Router Outlet</strong>
                The directive (<strong>&lt;router-outlet&gt;</strong>) that marks where the router should display a view.
            </li>
            <li>
                <strong>Router Links</strong>
                The directive for binding a clickable HTML element to a route. Clicking an anchor tag with a routerLink directive that is bound to a Link Parameters Array triggers a navigation
            </li>
            <li>
                <strong>Routing Component</strong>
                An Angular component with a RouterOutlet that displays views based on router navigations
            </li>
        </ul>
    </div>
</div>
